body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    background-color: #7dce7d;
    flex-direction: column;
}

.box {
    margin: auto;
    padding: 20px 50px;
    border: 4px solid #000;
    width: fit-content;
}

.box:last-child {
    transform: skew(20deg);
}

.box:first-child {
  transform: skew(20deg);
  transition: transform 6s;
}

.box:first-child:hover {

    transform: skew(60deg);
}



