.contenedor {
    border: 3px;
    margin:10px;
}

body {
    margin: 0;
    background-color: rgb(237, 243, 248);
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(244, 167, 43);
    color: rgb(242, 146, 56);
    position: relative;
    z-index: 20;

}
.box--blue {
    background-color: rgb(27, 27, 232);
    left: 10px;
    top: 40px;
}
.box--red {
    background-color: rgb(49, 148, 115);
    top:10px
} 
